.onClp{
    background-color: azure;
  overflow: hidden;
  position: relative;
  height: 50px;
  width: 200px;
  justify-content: center;
  align-items: center;
  display: none;
}

.cat{
  height: 50px;
  width: 100px;
  justify-content: center;
  align-items: center;
}